:root {
  --color-dark-blue: hsl(233, 26%, 24%);
  --color-lime-green: hsl(136, 65%, 51%);
  --color-bright-cyan: hsl(192, 70%, 51%);
  --color-grayish-blue: hsl(233, 8%, 62%);
  --color-light-grayish-blue: hsl(220, 16%, 96%);
  --color-very-light-gray: hsl(0, 0%, 98%);
  --color-white: hsl(0, 0%, 100%);
  --button-gradient: linear-gradient(
    to right,
    var(--color-lime-green),
    var(--color-bright-cyan)
  );
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

.container {
  max-width: 85%;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 80%;
  }
}
